<div class="container">
  <%= form_with model:[@owner, @hotel], url:owner_hotel_path, method: :put, local:true do |form| %>
    <%= render partial: 'layouts/error_messages', locals: { model: form.object} %>

    <%= form.label :image, "ホテル画像" %>
    <%= form.attachment_field :image %>

    <%= form.label :name, "ホテル名" %>
    <%= form.text_field :name, class: "form-control bg-gradient" %>

    <%= form.label :price, "1泊の金額(税抜き)" %>
    <%= form.number_field :price, class: "form-control bg-gradient" %>

    <%= form.label :address, "住所" %>
    <%= form.text_field :address, autofocus: true, class: "form-control bg-gradient" %>

    <%= form.label :phone_number, "電話番号" %>
    <%= form.number_field :phone_number, autofocus: true, class: "form-control bg-gradient" %>

    <%= form.label :introduction, "紹介文" %>
    <%= form.text_area :introduction, rows:'8', class: "form-control bg-gradient", :placeholder => "紹介文  【設備】・水自動機 ・クーラー完備 ・監視カメラ管理 ・お食事のオプションは豊富です【オプション】 ・お迎え可能(要相談) ご不明な点がありましたらお気軽にお申し付けください。" %>

    <!--hotel複数画像の追加-->
    <%= form.label :hotel_images_images, "ホテル詳細画像" %>
    <%= form.attachment_field :hotel_images_images, multiple: true %></p>

    <%= form.label :pet_genres %>
    <%= collection_check_boxes(:hotel, :pet_genre_ids, PetGenre.all, :id, :name, include_hidden: false) do |b| %>
    <%= b.label { b.check_box + b.text } %>
    <% end %>

    <h4>ホテルステータスの変更</h4>
    <%= form.radio_button :is_valid, false,  class: :radio_button, checked: false %>
    <%= form.label :is_valid, "無効にする" %>

    <% if @hotel.is_valid == false %>
      <p>ホテルの設定を再度有効にする場合は運営部までお問い合わせください</p>
    <% end %>

    <%= form.submit "変更内容を保存する", class:"btn btn-primary" %>

  <% end %>
</div>