<div class="container">
<%= form_with model:[@owner, @hotel], url:owner_hotels_path, method: :post, local:true do |form| %>

  <%= form.label :image, "ホテル画像" %>
  <%= form.attachment_field :image %>

  <%= form.label :name, "ホテル名" %>
  <%= form.text_field :name, class: "form-control bg-gradient" %>

  <%= form.label :price, "1泊の金額" %>
  <%= form.number_field :price, class: "form-control bg-gradient" %>

  <%= form.label :address, "住所" %>
  <%= form.text_field :address, autofocus: true, class: "form-control bg-gradient" %>

  <%= form.label :phone_number, "電話番号" %>
  <%= form.number_field :phone_number, autofocus: true, class: "form-control bg-gradient" %>

  <%= form.label :introduction, "紹介文" %>
  <%= form.text_area :introduction, autofocus: true, class: "form-control bg-gradient" %>

  <!--hotel複数画像の追加-->
  <%= form.label :hotel_images_images, "ホテル詳細画像" %>
  <%= form.attachment_field :hotel_images_images, multiple: true %></p>

  <!--hotelジャンルの追加、include_hidden:falseでは配列作成時の空白を排除。bはbuilderのb-->
  <%= form.label :pet_genres %>
    <%= collection_check_boxes(:hotel, :pet_genre_ids, PetGenre.all, :id, :name, include_hidden: false) do |b| %>
    <%= b.label { b.check_box + b.text } %>
  <% end %>

  <%= form.submit "変更内容を保存する", class:"btn btn-primary" %>

<% end %>
</div>