<div class="container">
  <p class="text-primary"><%= flash[:success] %></p>
  <h4><strong>管理者画面</strong></h4>
  <div class="row profile">
    <div class="col-xs-12 col-sm-4">
      <h4 class="profile-name"><%= @owner.name %></h4>
      <%= link_to edit_owner_registration_path do %>
      <button class="btn btn-success">登録情報編集</button>
      <% end %>
    </div>
    <div class="col-xs-12 col-sm-4">
      <h4><i class="fas fa-phone"> </i><%= @owner.phone_number %></h4>
      <h4><i class="fas fa-envelope"> </i><%= @owner.email %></h4>
    </div>
    <div class="col-sm-4"></div>
  </div>

  <h4>登録済みホテル（一覧)</h4>
  <% @hotels.each do |hotel| %>
    <div class="hotel_box">
      <%= render partial: 'hotels/hotels', locals: {hotel: hotel} %>
      <% if hotel.is_valid? %>
        <p>掲載中</p>
      <% else %>
        <p><strong>承認されるまでお待ちください</strong></p>
      <% end %>
      <%= link_to "ホテル編集", edit_owner_hotel_path(hotel), class: "btn btn-success" %>
      <%= link_to "予約確認", owner_hotel_path(hotel), class: "btn btn-warning" %>
    </div>
  <% end %>
</div>
