<% pets.each do |pet| %>
  <div class="row pet_box">
    <div class="col-xs-12 col-sm-4">
      <%= attachment_image_tag pet, :image, format: 'jpg', size: "200x200", class: "pullleft profile-img", fallback: "no_image.jpg" %>
    </div>
    <div class="col-xs-12 col-sm-4">
      <label>名前：</label><%= pet.name %><br/>
      <label>性別：</label><%= pet.gender %><br/>
      <label>ジャンル：</label><%= pet.pet_genre.name %><br/>
    </div>
    <div class="col-xs-12 col-sm-4">
      <%= link_to '編集する', edit_pet_path(pet), class:"btn btn-success" %>
      <!--削除時確認ボタン表示-->
      <%= link_to '削除する', pet_path(pet), method: :delete, class:"btn btn-danger", data: {confirm: "削除しますか？"} %>
    </div>
  </div>
<% end %>
