<%= form_with model:@pet, url:pet_path(@pet), method: :put, local:true do |form| %>

  <%= form.label :image, "プロフィール画像" %>
  <%= form.attachment_field :image %>

  <%= form.label :name, "ペットのお名前" %>
  <%= form.text_field :name, class: "form-control bg-gradient" %>

  <div>
  <%= form.radio_button :gender,:男の子, class:"radio_button" %>
  <%= form.label :gender, "男", {value: 0} %>
  <%= form.radio_button :gender,:女の子, class:"radio_button" %>
  <%= form.label :gender, "女", {value: 1} %>
  </div>

  <div>
  <%= form.collection_select(:pet_genre_id, PetGenre.all, :id, :name) %>
  </div>

  <%= form.submit "確認画面へ進む", class:"btn btn-success" %>

<% end %>