<div class="container">
<h5>ペット新規登録</h5>
<%= form_with model:[@user, @pet], url:user_pets_path, method: :post, local:true, remote: true do |form| %>

  <%= form.label :image, "プロフィール画像" %>
  <%= form.attachment_field :image %>

  <%= form.label :name, "ペットのお名前" %>
  <%= form.text_field :name, class: "form-control bg-gradient" %>

  <div>
  <%= form.radio_button :gender, :男の子, class:"radio_button" %>
  <%= form.label :gender, "男の子", {value: 0} %>
  <%= form.radio_button :gender, :女の子, class:"radio_button" %>
  <%= form.label :gender, "女の子", {value: 1} %>
  </div>

  <div><%= form.collection_select(:pet_genre_id, PetGenre.all, :id, :name) %></div>

  <%= form.submit "確認画面へ進む", class:"btn btn-success" %>

<% end %>

<div id="pets_all">
  <%= render partial: 'pets/pets', locals: { pets: @pets} %>
</div>