<h5>プロフィール</h5>
<div class="row profile">
    <div class="col-xs-12 col-sm-4">
    <div class="profile-name"><%= @user.family_name %><%= @user.given_name %></div>
    <div><%= @user.family_name_kana %> <%= @user.given_name_kana %></div>
    <div><i class="fas fa-phone"></i> <%= @user.phone_number %></div>
    <div><i class="fas fa-envelope"></i> </th><td><%= @user.email %></div>
    </div>
    <div class="col-xs-12 col-sm-6">
    　<%= link_to edit_user_registration_path do %>
      <button class="btn btn-success">登録情報編集</button>
    　<% end %>
    </div>
</div>

<h5>予約一覧</h5>



