<div class="container">
  <p class="text-primary"><%= flash[:success] %></p>
</div>
<!--bcSliderによるスライダー-->
<ul class="slider">
  <li><%= image_tag "yellow_cat.jpg", class:"slider_img" %></li>
  <li><%= image_tag "cat-2603395_640.jpg", class:"slider_img" %></li>
  <li><%= image_tag "glasses_dog.jpg", class:"slider_img" %></li>
  <li><%= image_tag "cat-2603395_640.jpg", class:"slider_img" %></li>
</ul>

<!--main-->
<div class="container">
  <!--main1-->
  <div class="row">
  <hr>
    <div class="col-xs-12 col-sm-4 text-center"><%= image_tag "green_cat.jpg", format: 'jpg', size: "300x300", class: "top_img" %></div>
    <ul class="col-xs-12 col-sm-8 top-message">
      <li><i class="far fa-lightbulb faa-ring animated"></i> <strong> 審査後のホテルのみ掲載で安心</strong></li>
      <li><span>弊社の審査基準に基づいた審査を通ったホテルのみが掲載されています。また、審査通過の評価に応じて、ホテルへの指導も行っており、高品質なサービスの提供が期待されます。</span></li>
    </ul>
  </div>

  <!--main2-->
  <div class="row">
  <hr>
    <ul class="col-xs-12 col-sm-8 top-message">
      <li><i class="far fa-lightbulb faa-ring animated"></i> <strong> ペット様を登録で宿泊先にペット様をご紹介</strong></li>
      <li><span>ペットのプロフィールを登録することができ、ホテルでお迎えに当たるスタッフがペット様を前もって認識することが可能です。</span></li>
    </ul>
    <div class="col-xs-12 col-sm-4 text-center"><%= image_tag "blue_dog.jpg", format: 'jpg', size: "300x300", class: "top_img" %></div>
  </div>

  <!--main3-->
  <hr>
  <div class="col-xs-12 col-sm-4 text-center"><%= image_tag "star.jpg", format: 'jpg', size: "300x300", class: "top_img" %></div>
    <ul class="col-xs-12 col-sm-8 top-message">
      <li><i class="far fa-lightbulb faa-ring animated"></i> <strong> 口コミの確認やお気に入りで便利</strong></li>
      <li><span>コメントの投稿、お気に入り追加が可能です。また、他のお客様のコメントを確認してホテルを選択することが可能です。</span></li>
      </ul>
</div>

<!--SNSアイコン一覧とアニメーション-->
<hr>
<div class="container">
  <div class="row sns">
    <a href="#" class="col-xs-2 col-xs-offset-2"><i class="fab fa-instagram faa-tada animated-hover"></i></a>
    <a href="#" class="col-xs-2"><i class="fab fa-facebook faa-tada animated-hover"></i></a>
    <a href="#" class="col-xs-2"><i class="fab fa-twitter faa-tada animated-hover"></i></a>
    <a href="#" class="col-xs-2"><i class="fab fa-youtube faa-tada animated-hover"></i></a>
  </div>

  <hr>
  <div class="row">
    <h1 class="col-xs-12 text-center">For your princes and princess .. <br/><strong>Best Choice</strong>for your family here</h1>
    <div class="col-xs-12 text-center registration_btn">
      <%= link_to " お客様登録", new_user_registration_path, class: "btn-lg btn-primary" %>
    <hr>
    </div>
  </div>
</div>

