<div class="container">
<div class="row">
  <% reservations.each do |reservation| %>
  <div class="col-xs-6">
    <h4><strong>宿泊ペット様</strong></h4>
      <div><%= attachment_image_tag reservation.pet :image, format: 'jpg', size: "200x200", class: "pullleft profile-img", fallback: "no_image.jpg" %></div>
      <h4><%= reservation.pet.name %></h4>
  </div>

　<div class="col-xs-6">
    <table class="table table-inverse">
      <tr><th>予約者名真</th><td><%= reservation.user.family_name %><%= reservation.user.given_name %></td></tr>
      <tr><th>予約ホテル名</th><td><%= reservation.hotel.name %></td></tr>
      <tr><th>チェックイン</th><td><%= reservation.start_date %></td></tr>
      <tr><th>チェックアウト</th><td><%= reservation.end_date %></td></tr>
      <tr><th>チェックアウト</th><td><%= reservation.request %></td></tr>
      <tr><th>合計金額</th><td><%= reservation.total_price %></td></tr>
    </table>
  </div>
  <% end %>
</div>
</div>
