<h5>予約はこちらから</h5>
<%= form_with model:@reservation, url:confirm_reservation_path, method: :post, local:true do |form| %>
<!--Datetimepickerの実装-->
<div type="text" id="datepicker"><!--type="text"は-->
  <label>チェックイン</label>
  <%= form.text_field  :start_date %>

  <label>チェックアウト</label><%= form.text_field  :end_date,  :class => 'datepicker' %>
</div>

  <label>ご要望がありましたらご記入ください</label><%= form.text_field  :request %>

  <!--hotelのidは簡潔にuserがfindしたidをviewから送信-->
  <%= form.hidden_field :hotel_id, value: @hotel.id %>

  <%= form.submit "確認画面へ進む", class:"btn btn-success" %>

<% end %>
