<div class="hotel_box">
  <div class="row">
    <!--hotel一覧左側-->
    <div><%= attachment_image_tag hotel, :image, format: 'jpg', size: "250x250", class: "col-xs-5 hotel_image", fallback: "no_image.jpg" %></div>
    <!--hotel一覧右側-->
    <div class="col-xs-7">
    <h2><%= hotel.name %></h2>
      <!--いいねはUserのみが可能、Ownerと管理者は合計数の閲覧のみ-->
  　<% if user_signed_in? %>
      <% if hotel.favorited_by?(current_user) %>
        <%= link_to hotel_favorites_path(hotel), method: :delete do %>
        <i class="fa fa-star" aria-hidden="true"></i>
        <% end %>
      <% else %>
        <%= link_to hotel_favorites_path(hotel), method: :post do %>
        <i class="fa fa-star-o" aria-hidden="true"></i>
        <%= hotel.favorites.count %>
        <% end %>
      <% end %>
 　 <% elsif owner_signed_in? || admin_signed_in? %>
      <%= hotel.favorites.count %>
    <% end %>
      <h5><strong>　<%= link_to "ホテル詳細をみる", hotel_path(hotel) %></strong></h5><hr>
      <table class="table-inverse">
      <tr class="row">
        <th class="col-xs-6"><strong>金額</strong></th>
        <td class="col-xs-6">一泊一室：<strong class="price_data"><%= hotel.price %></strong></td>
      </tr>
      <tr class="row">
        <th class="col-xs-6"><strong>住所</strong></th>
        <td class="col-xs-6"><strong><%= hotel.address %></strong></td>
      </tr>
      </table>
    </div>
  </div>
</div>
