<% hotels.each do |hotel| %>
<div class="hotel_box">
  <div class="row">
    <!--hotel一覧左側-->
    <div><%= attachment_image_tag hotel, :image, format: 'jpg', size: "250x250", class: "col-xs-5 hotel_image", fallback: "no_image.jpg" %></div>
    <!--hotel一覧右側-->
    <div class="col-xs-7">
    <h2><%= hotel.name %></h2>
      <h5><strong>　<%= link_to "ホテル詳細をみる", hotel_path(hotel) %></strong></h5><hr>
      <table class="table-inverse">
      <tr class="row">
        <th class="col-xs-6"><strong>金額</strong></th>
        <td class="col-xs-6">一泊一室：<strong class="price_data"><%= hotel.price %></strong></td>
      </tr>
      <tr class="row">
        <th class="col-xs-6"><strong>住所</strong></th>
        <td class="col-xs-6"><strong><%= hotel.address %></strong></td>
      </tr>
      </table>
    </div>
  </div>
</div>
<% end %>