<div class="row">
  <!--hotel一覧左側-->
  <!--ホテルステータスが無効のものは表示無し-->
  <% if hotel.is_valid == false %>
    <div><%= image_tag "no_photo.jpg", format: 'jpg', size: "200x200", class: "col-xs-12 col-sm-4 hotel_image" %></div>
  <% else %>
    <div><%= attachment_image_tag hotel, :image, format: 'jpg', size: "200x200", class: "col-xs-12 col-sm-4 hotel_image", fallback: "no_photo.jpg" %></div>
  <% end %>

  <!--hotel一覧右側-->
  <div class="col-xs-12 col-sm-8">
    <h2><%= hotel.name %></h2>
    <!--オーナーと管理者がいいねの数を確認できるように下記設定-->
    <% if owner_signed_in? || admin_signed_in? %>
      <%= hotel.favorites.count %>人がお気に入りに登録しています
    <% end %>
    <!--ホテルステータスが無効のものはリンク表示無し(Userのみ)+コントローラでも直打ち禁止(Userのみ)-->
    <% if hotel.is_valid == false %>
      <% if user_signed_in? %>
        <h5><strong>恐れ入りますが、こちらのホテルは現在掲載されておりません</strong></h5>
      <% elsif owner_signed_in? || admin_signed_in? %>
        <h5><strong><%= link_to "ホテル詳細", hotel_path(hotel) %></strong></h5>
      <% end %>
    <% else %>
      <h5><strong><%= link_to "ホテル詳細をみる", hotel_path(hotel) %></strong></h5>
    <% end %>
    <!--ここまで-->
    <hr>

    <table class="table-inverse">
      <tr class="row">
        <th class="col-xs-6"><strong>金額</strong></th>
        <td class="col-xs-6">一泊一室：<strong class="price_data"><%= addTax(hotel.price,1.10) %></strong></td>
      </tr>
      <tr class="row">
        <th class="col-xs-6"><strong>住所</strong></th>
        <td class="col-xs-6"><strong><%= hotel.address %></strong></td>
      </tr>
    </table>
  </div>
</div>

