<h2><%= hotel.name %></h2>
<%= attachment_image_tag hotel, :image, format: 'jpg', size: "600x500", class: "col-xs-12 hotel_image", fallback: "no_image.jpg" %>
<div class="hotel_profile">
  <!--いいねはUserのみが可能、Ownerと管理者は合計数の閲覧のみ-->
  <% if user_signed_in? %>
    <% if hotel.favorited_by?(current_user) %>
      <%= link_to hotel_favorites_path(hotel), method: :delete do %>
      <i class="fa fa-star" aria-hidden="true"></i>
      <%= hotel.favorites.count %>
      <% end %>
    <% else %>
      <%= link_to hotel_favorites_path(hotel), method: :post do %>
      <i class="fa fa-star-o" aria-hidden="true"></i>
      <%= hotel.favorites.count %>
      <% end %>
    <% end %>
  <% elsif owner_signed_in? || admin_signed_in? %>
    <%= hotel.favorites.count %>
  <% end %>
  <h3><strong>ホテル詳細</strong></h3><hr>
  <h3><strong>一室一泊</strong></h3>
  <p><strong class="price_data"><%= hotel.price %></strong>
  <h4><strong>住所</strong></h4>
  <p><%= hotel.address %></p>
  <h4><strong>一室一泊</strong></h4>
  <p><%= hotel.phone_number %></p>
  <h4><strong>電話番号</strong></h4>
  <p><%= hotel.phone_number %></p>
  <h4><strong>紹介文</strong></h4>
  <p><%= hotel.introduction %></p>
  <h4><strong>詳細写真</strong></h4>
  <!--ホテルの詳細写真をeachで回す-->
  <% if @hotel.hotel_images.present? %>
    <% @hotel.hotel_images.each do |image| %>
    <%= attachment_image_tag image, :image, format: 'jpg', size: "300x200", fallback: "no_image.jpg" %>
    <% end %>
  <% else %>
    <%= image_tag 'no_image.jpg', size: '200x200' %>
  <% end %>
  <!--ホテルのペットジャンルを中間テーブルから-->
  <h4><strong>ご利用可能なペット一覧</strong></h4>
  <% hotel.pet_genres.each do |pet_genre| %>
  <p><%= pet_genre.name %></p>
  <% end %>
</div>
  <!--showに書いてあったやつ。reservtion/confirmから戻った際に部分テンプレートを読み込めるよう絶対パスで記載
  <%= render '/hotels/hotel', hotel: @hotel %>
  <%= render '/reservations/reservation', reservation: @reservation %>-->