<h2><%= hotel.name %></h2>
<%= attachment_image_tag hotel, :image, format: 'jpg', size: "600x500", class: "col-xs-12 hotel_image", fallback: "no_image.jpg" %>
<div class="hotel_profile">
  <% if user_signed_in? %>
    <% if hotel.favorited_by?(current_user) %>
      <%= link_to hotel_favorites_path(hotel), method: :delete do %>
      <i class="fa fa-star" aria-hidden="true"></i>
      <% end %>
    <% else %>
      <%= link_to hotel_favorites_path(hotel), method: :post do %>
      <%= hotel.favorites.count %>
      <i class="fa fa-star-o" aria-hidden="true"></i>
      <% end %>
    <% end %>
  <% elsif owner_signed_in? || admin_signed_in? %>
    <%= hotel.favorites.count %>
  <% end %>
  <h3><strong>ホテル詳細</strong></h3><hr>
  <h3><strong>一室一泊</strong></h3>
  <p><strong class="price_data"><%= hotel.price %></strong>
  <h4><strong>住所</strong></h4>
  <p><%= hotel.address %></p>
  <h4><strong>一室一泊</strong></h4>
  <p><%= hotel.phone_number %></p>
  <h4><strong>電話番号</strong></h4>
  <p><%= hotel.phone_number %></p>
  <h4><strong>紹介文</strong></h4>
  <p><%= hotel.introduction %></p>
  <% hotel.pet_genres.each do |pet_genre| %>
  <p><%= pet_genre.name %></p>
  <% end %>
</div>

